@font-face {
	font-family: "Roboto Regular";
	src:url("../fonts/roboto-regular.woff"); 
	font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/roboto-medium.woff');
  font-weight: 500;
  font-style: normal;
}