$accent-color: #ff6b08;
$main-text-color: #ffffff;
$secondary-text-color: #000000;
$modal-secondary-color: #8c8c8c;
$footer-text-color: #545454;
$text-font-size: 12px;
$film-title-modal-size: 20px;
$logo-font-size: 30px;
$footer-font-size: 16px;
