<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <span class="footer-wrapper__copyright"
        >© 2021 | All Rights Reserved |</span
      >
      <span class="footer-wrapper__about-developers">
        Developed with<svg
          class="about-developers__icon heart-animation"
          width="14"
          height="13"
        >
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        <span>by</span>
        <span class="about-developers__link link">GoIT Students</span>
      </span>
    </div>
  </div>
</footer>
<a href="./firebase.html"> firebase</a>
