<header class="header" id="header">
  <a href="./partials/pages/_main-page.html" class="header-logo link">
    <svg class="header-logo__img">
      <use href=""></use>
    </svg>
    <p class="header-logo__text">Filmoteka</p>
  </a>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a
          href="./partials/pages/_main-page.html"
          class="header-nav__link header-nav__link--active"
          >Home</a
        >
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">my library</a>
      </li>
    </ul>
  </nav>
  <div class="header-serch">
    <input type="text" class="header-serch__input" />
    <svg class="header-serch__icon">
      <use href=""></use>
    </svg>
  </div>
</header>
