<main class="main-section">
  <div class="container">
    <div class="main-section__btn-wrapper">
      <button
        id="popular"
        type="button"
        class="
          request-btn
          common-btn__request common-btn__request--active
          lng-popular
        "
      >
        popular
      </button>
      <button
        id="top_rated"
        type="button"
        class="request-btn common-btn__request lng-top"
      >
        top rated
      </button>
      <button
        id="upcoming"
        type="button"
        class="request-btn common-btn__request lng-upcoming"
      >
        upcoming
      </button>
      <button
        id="now_playing"
        type="button"
        class="request-btn common-btn__request lng-playing"
      >
        now playing
      </button>
    </div>
    <ul class="main-section__cards-wrapper card-list list"></ul>
    <div
      id="pagination"
      class="main-section__pagination-wrap tui-pagination"
    ></div>
  </div>
  <a class="anchor-btn link" href="#header">
    <svg class="anchor-btn__svg" width="45px" height="45px">
      <use
        class="anchor-btn__icon"
        href="./images/sprite.svg#icon-anchor"
      ></use>
    </svg>
  </a>
</main>
