.header {
  padding-top: 46px;
  padding-bottom: 97px;
  display: grid;
  grid-template-columns: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/home/home-bg-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-bg-mobile@2x.jpg);
  }

  @include min-width(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/home-bg-tablet@2x.jpg);
    }
  }
  @include min-width(deckstope) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-bg-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/home-bg-desktop@2x.jpg);
    }
  }
  grid-template-rows: auto;
  &-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-end;
    margin-bottom: 39px;
  }
  &-logo {
    display: grid;
    justify-self: start;
    grid-template-columns: (auto auto);
    align-items: center;

    &__img {
      fill: #818181;
      @include min-width(tablet) {
        margin-right: 10px;
      }
    }
    &__text {
      @include font(30px, 500, 35px);

      color: $main-text-color;
      @include max-width(tablet) {
        display: none;
      }
    }
  }
  &-nav {
    justify-self: end;
    &__list {
      display: grid;
      grid-template-columns: auto auto;
    }
    &__item--margin {
      margin-right: 39px;
    }
    &__link {
      position: relative;
      @include font(12px, 500, 14px);
      color: $main-text-color;
      text-transform: uppercase;
    }
    &__link--active::before {
      content: '';
      position: absolute;

      width: 34px;
      height: 3px;
      background-color: $accent-color;
      left: 1px;
      bottom: -3px;
    }
  }
  &-serch {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
  }
}
