.header {
  padding-top: 46px;
  @include min-width(tablet) {
    padding-top: 41px;
  }
  height: 230px;
  display: grid;
  grid-template-columns: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/home/home-bg-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-bg-mobile@2x.jpg);
  }

  @include min-width(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/home-bg-tablet@2x.jpg);
    }
  }

  @include min-width(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/home-bg-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/home-bg-desktop@2x.jpg);
    }
  }

  grid-template-rows: auto;

  &-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-end;
    margin-bottom: 37px;
  }

  &-logo {
    display: grid;
    justify-self: start;
    grid-template-columns: (auto auto);
    align-items: center;

    &__img {
      fill: #818181;
      @include min-width(tablet) {
        margin-right: 10px;
      }
    }

    &__text {
      @include font(30px, 500, 35px);

      color: $main-text-color;
      @include max-width(tablet) {
        display: none;
      }
    }
  }

  &-nav {
    justify-self: end;

    &__list {
      display: grid;
      grid-template-columns: auto auto;
    }

    &__item--margin {
      margin-right: 39px;
    }

    &__link {
      position: relative;
      @include font(12px, 500, 14px);
      color: $main-text-color;
      text-transform: uppercase;
    }

    &__link--active::before {
      content: '';
      position: absolute;

      width: 100%;
      height: 3px;
      background-color: $accent-color;
      left: 1px;
      bottom: -3px;
    }
  }

  &-serch {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-items: center;

    &__wrapper {
      position: relative;
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }

    &__input {
      width: 336px;
      line-height: 0px;
      @media screen and (max-width: 400px) {
        width: 100%;
      }
      padding-bottom: 4px;
      background-color: transparent;
      color: $main-text-color;
      border-bottom: 1px solid $main-text-color;

      &::placeholder {
        color: inherit;
        opacity: 1; /* for Firefox */
      }
    }

    &__icon {
      position: absolute;
      fill: $main-text-color;
      top: 6px;
      right: 0px;
    }
  }
}

.header--library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/library/library-bg-mobile.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/library-bg-mobile@2x.jpg);
  }

  @include min-width(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/library-bg-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library/library-bg-tablet@2x.jpg);
    }
  }

  @include min-width(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/library-bg-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library/library-bg-desktop@2x.jpg);
    }
  }

  .header-serch__wrapper {
    display: none;
  }
}

.header-center__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 20px 65px 20px;
  grid-gap: 15px;
}
