.team-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 240px;
  max-width: 300px;
  height: 90vh;
  padding: 40px 20px 41px;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  background: white;
  border-radius: 5px;
  outline: 1px solid rgb(14, 10, 10);

  @include min-width(tablet) {
    max-width: 618px;
    height: 562px;
    padding: 35px 30px 40px 28px;
  }
  @include min-width(desktop) {
    max-width: 882px;
    height: 550px;
    padding: 40px 30px 40px 30px;
  }
}

.team-name {
  color: $secondary-text-color;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  @include min-width(tablet) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  align-items: center;
  @include min-width(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
  @include min-width(desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.member-card {
  display: grid;
  grid-template-rows: 105px 305px 10px;
  padding: 15px 15px 0 15px;
  outline: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
  outline: none;
  transition: all, $main-duration $main-timing-function;

  &:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0px 0px 4px 2px $accent-color;
  }
}

.member-photo {
  display: grid;
  justify-content: center;

  &__img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }
}

.member-info {
  display: grid;
  grid-template-rows: 28px 30px 215px;
  width: 100%;

  &__name {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0.7px 0.7px 1px rgb(73, 73, 73);
  }

  &__position {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $accent-color;
    text-shadow: 0.5px 0 1px #000;
  }

  &__descridivtion {
    &-title {
      color: $accent-color;
      margin-bottom: 3px;
      font-size: 13px;
    }

    &-text {
      padding: 0 10px 0 5px;
      font-size: 11px;
      text-align: justify;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

.member-social {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  column-gap: 20px;
  justify-content: center;

  &__icon:hover {
    transform: scale(1.05);
  }
}
